.ui.borderless.socials.menu {
    background-color: #f7f7f7;
    box-shadow: none;
    border: none;
}

.ui.borderless.clothing.menu {
    box-shadow: none;
    border: none;
}

.footer-bg {
    border-top: solid #e5e5e5 1px;
    margin-top: 10px;
    padding: 20px 0 20px 0;
}